# General Files
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/doxygen-docs

# Generated Binaries
/dgr-relay
/ogl2-assimp
/ogl2-slideshow
/ogl2-texture
/ogl2-triangle
/ogl3-assimp
/ogl3-prerend
/ogl3-texture
/ogl3-triangle
/ogl3-triangle-color
/ogl3-triangle-shade
/ogl3-picker
